<div class="relative zx-gradient h-[30px] py-[6px] flex justify-center items-center gap-[10px] z-60">
  <span class="text-[14px] font-medium text-white">ZarklyX is now in early access. Be the first agency to try.</span>
  <!-- <div class="offer-countdown text-white">
    <span class="offer-unit">{{ timeLeft().days | number:'2.0-0' }}<small>D</small></span>
    <span class="offer-unit">{{ timeLeft().hours | number:'2.0-0' }}<small>H</small></span>
    <span class="offer-unit">{{ timeLeft().minutes | number:'2.0-0' }}<small>M</small></span>
    <span class="offer-unit">{{ timeLeft().seconds | number:'2.0-0' }}<small>S</small></span>
  </div> -->
</div>